@model Escuela

@{
    ViewData["Title"] = "School Information";
    @* Layout = "Simple"; *@
}

<h1>@ViewData["Title"]</h1>
<h2>Name: @Model.Nombre</h2>
<h3>Type school: @Model.TipoEscuela</h3>
<address>
    <p>Address: @Model.Dirección</p>
    <p>Country: @Model.Pais</p>
    <p>Cite: @Model.Ciudad</p>
</address>
<p><strong>Fundation year: @Model.AñoDeCreación </strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>