@model Alumno

@{
    ViewData["Title"] = "Course Student";
    @* Layout = "Simple"; *@
}

<h1>@ViewData["Title"]</h1>
<strong>Desde la vista normal</strong>
<p>
    Name: @Model.Nombre <br>
    Id: @Model.UniqueId
</p>

<strong>Desde la vida parcial</strong>
<partial name="ObjetoEscuelaSimple" />

<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewBag.Fecha</i></p>